#sudo: required
#dist: trusty
#language: cpp

#addons:
#  apt:
#    packages:
#    - cmake
#    - cppcheck
#    - libboost-all-dev
#    - libmysqlcppconn-dev
#
#cache:
#  directories:
#    - $HOME/protobuf
#    - $HOME/cppcheck
#
#before_install:
#  - ./protocol/install_protobuf.sh
#  - ./scripts/install_cppcheck.sh
#
#script:
#  - ./scripts/build_server.sh
#  - ./scripts/do_cppcheck.sh
#
#notifications:
#  hipchat:
#    rooms:
#      secure: TvLcKC9pYFsjeM0QiXVvlo9oQV/HjY71sQKdif6gEtR5jschxoqp2R8/paAh7iITlB5o30DGeMzu8X9Vgk3/xXqi0VKQpL7mylTX/y2MVy2/iMjQVMLpYRoIFU86dYPruWGeZnkoINtVzCCpriT0gj2KTbsankBIc4wNkekYuJXggrKHGBJ2jvpvfP6ajiB1DYFL+Ud5LF0XixDOgyOoydLbf+Pm5cGaQw7JIn+LU+S0MjCZOwX4L0nfEyPRBAT4NljCCxDjZPt0P8R1ByvenPHvfUw7WM2oXM3DgSrPqsCOlIVlru41H7UIQbM1z8cizHu5rb5OQ+mVnl4h4kbS9X90qeOi6FNdU7iBYQw6MVk9VhNYjFWOhD4J+RyUTWQWcOMxPEtPnqzXrwHMEhUCeIuKBU80PfaS/D4QfzlqHQLHV5FNavymi5v3Wh+8MhOOaPfdhqyF8NhrhK72v24BMT+UMkJRy/jZH7phq7WQnpNuFWykz2913YibVkcHiy5D1BG1q8iyCJle6QY5K4ZN1BOVez/xMBJ3c9L7LCy/pOCY/TurA3U7JzQ5GylaPeb0gGMOpnx7JrPhJAJSg7UOrWa1M8Zyi8Xr13nCggEu0YbhuCgSLVaY1SIOSlcMylSVfhm0F1YFC54nSaFqDUdUoqVvQBOH6K/tslhNafYEZZQ=


sudo: required
language: cpp

services:
  - docker

before_install:
  - docker pull ilssim/main

script:
  - docker run -t -i -v $PWD:/src -w /src ilssim/main /bin/bash scripts/build_server.sh && /bin/bash scripts/do_cppcheck.sh
